<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Mono:wght@300&family=Secular+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Peddana&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="signin.css" rel="stylesheet">
    <title>Events</title>
</head>
<style>
    h6{
    color:black;
    margin-left:6%;
    background-color: #e2e7ec;
    }
    #accordion section p{ 
        display:none;
        text-align:left; 
        margin-left:5%;
    }
    #accordion section a{
        color:white;
        text-decoration: none;
    }
    #accordion section a:hover{
        text-decoration: underline;
    }
    #accordion section:target p{
        display: block;
        color:black;
    }
    section{
        width:100%;
    }
    </style>
<body>
    <nav class="navbar navbar-expand-lg  bg-light">
        <button class="navbar-toggler bg-dark" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation ">||
            <span class="navbar-toggler-icon"></span> 
        </button>
        <img src="images/logo.png" id="logo" style="height: 5%; width: 5%;"> &nbsp; &nbsp;
         <h2 style="font-family: 'Balsamiq Sans', cursive;">DSC-AKGEC</h2>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            
            <ul class="navbar-nav ml-auto">
                <li><a class="nav-item ml-4 nav-link navbar-brand nav-item " href="home.html ">Home</a></li>
                <li class="nav-item ml-4 nav-link nav-item dropdown dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><a href="# ">
                Contact </a></li>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" >
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                <li class="nav-item ml-4 nav-link"><a href="team.html"> Team</a></li>
                <li class="nav-item ml-4 nav-link"><a href="# "> Events</a></li>
                <li class="nav-item ml-4 nav-link"> <a href="# ">Admin</a></li>
            </ul>
        </div>
    </nav>

    <h1 class="h3 mb-3 font-weight-normal text-center" style="font-family: 'Dosis', sans-serif; margin:10px;" ><a href="#">Upcoming Events</a></h1>
    <div id="full"> 
    <div id="header" >
    <div id="banner" style="height:auto; width:100%; ">
     <div style="width:100% ; height:auto; margin:0; top:0;">
    <main id="accordion" class="container" >
         <section id="itemA">
         <a href="#itemA"><h6 style="font-family: 'Indie Flower', cursive;color:black; margin: 0;padding: 1.5%; font-size: larger;" >DSC HACKFEST || Getting Started With open Source || Oct 4' 2020</h6></a> 
         <div style="font-family: 'Grandstander', cursive; border: 1px solid blue; margin: 0;">
            <p style="margin: 2%;">
           Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem modi ad, debitis cupiditate dicta in illum, ea laborum impedit repellat cumque natus placeat eius? Aspernatur, ipsa iure repellat vel nam nihil laborum facilis corporis architecto quis itaque velit recusandae illo dolorum, minus soluta consectetur deserunt delectus impedit ex tempore ad sapiente, non molestias? Vitae eveniet dolorum quo, ratione magnam quibusdam quidem fuga repellendus ea sapiente quos laudantium quis illum pariatur sed debitis vel, dolorem amet hic excepturi? Eveniet dolores fugit reprehenderit, non aliquam quia maxime similique ipsa ipsam id, quidem sequi odit a nostrum praesentium nesciunt facilis perspiciatis quas at!
           <button>delete</button>
        </p>
    </div>
    </section>
    <hr style="margin: 0;padding: 0;">
         
          <section id="itemB">
         <a href="#itemB"><h6 style="font-family: 'Indie Flower', cursive;margin: 0;font-size: larger; padding: 1.5%;" >DSC HACKFEST || Introduction To Cyber Security and CTFs ||  Oct 2' 2020</h6></a> 
         <div style="font-family: 'Grandstander', cursive; border: 1px solid blue; margin: 0;">
            <p>
         Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit voluptate maiores pariatur id qui odit ad aliquid error nihil assumenda temporibus, amet officia explicabo reprehenderit voluptas culpa sint exercitationem officiis quaerat facere alias cum. Dolor impedit fugit repellendus dolorem incidunt officiis nam ut excepturi aliquid saepe debitis ipsa itaque dolore, modi, ab numquam ipsum molestias molestiae iste esse, mollitia commodi minima eaque. Accusamus doloribus quae expedita voluptates reprehenderit deleniti, ad nam mollitia architecto incidunt voluptate numquam vero fuga fugit rem temporibus dolor quaerat beatae recusandae laborum dignissimos! Laborum omnis commodi dolore porro repellendus unde, quod error, labore suscipit iure explicabo.
         <button>delete</button>
        </p>
        </div>
        <%for(var i=0;i<newListItem.length;i++) {%>
               <section id="item<%=i%>">
                    <a href="#item<%=i%>"><h6 style="font-family: 'Indie Flower', cursive;margin: 0;font-size: larger; padding: 1.5%;" >  <%=newListItem[i].name%></h6>  </a>
                    <div style="font-family: 'Grandstander', cursive; border: 1px solid blue; margin: 0;"> 
                        <p> 
                    <%=newListItem[i].description%>
                        <button>delete</button>
                        </p>
                    </div>
                    </section>        
                    <%}%> 
                </main>  
</div></div></div>
<br>
<br>
<br>
<div class="container">
<form action="/adminlogin">
    <button type="submit" name="submit" class="btn btn-lg btn-success btn-block">Add New Event</button>
 </form>
</div>
<div class="container">
    <div class="row">
        <div class="col-4">
          jbjbsmnnjksn
        </div>
        <div class="col-6">
          vhdjhsjsnjknsjkn
        </div>
</body>
</html>