<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/event" method="POST">
        <input type="text" name="n" class="form-control" placeholder="Enter The Event Titile" required>
         <textarea name="dis" cols="50" rows="5" class="form-control" placeholder="About the Event" required></textarea>
        <button>add</button>
    </form>
</body>
</html>