<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto+Mono:wght@300&family=Secular+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Peddana&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Visit THe Students Project</title>
</head>
<style>
    .col-5{
        box-shadow:-2px 2px 2px 2px #e2dfdf;
        border-radius: 20%;
    }
    .col-4{
        box-shadow:-2px 2px 2px 2px #e2dfdf;
        border-radius: 20%;
       
    }
    .col-4:hover, .col-5:hover{
        border-radius: 20%;
  transform: scale(1.2);
}
.icon:hover{
  transform: scale(1.2);
}
</style>
<body>

    <nav class="navbar navbar-expand-lg  bg-light">
        <button class="navbar-toggler bg-dark" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation ">||
            <span class="navbar-toggler-icon"></span> 
        </button>
        <img src="images/logo.png" id="logo" style="height: 5%; width: 5%;"> &nbsp; &nbsp;
         <h2 style="font-family: 'Balsamiq Sans', cursive;">DSC-AKGEC</h2>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            
            <ul class="navbar-nav ml-auto">
                <li><a href="/" class="nav-item ml-4 nav-link navbar-brand nav-item">Home</a></li>
                <li class="nav-item ml-4 nav-link nav-item dropdown dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Contact </li>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" >
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                <li class="nav-item ml-4 nav-link"><a href="team">Team</a></li>
                <li class="nav-item ml-4 nav-link"><a href="event">Events</a></li>
                <li class="nav-item ml-4 nav-link"><a href="adminlogin">Admin</a></li>
            </ul>
        </div>
    </nav>
<h1 class="text-center" style="background-color: rgb(24, 147, 230); color: white; font-family:'Open Sans Condensed', sans-serif;"> Our Projects</h1>
    <main>     
        <%for(var i=0;i<newProject.length;i++) {%>
            <section  class="container">
            <div class="row" style="margin-left: 4%;"> 
                <div class="col-5" style="margin:2%;padding: 2%;">
                 <h1 class="text-center" style="font-family: 'Indie Flower', cursive;margin: 0;font-size: larger; padding: 1.5%;" > <%=newProject[i].name%></h1> 
                 <br>  
                 <div  style="font-family: 'Grandstander', cursive;"> 
                <p style="margin:2%;padding: 2%;"> 
                 <%=newProject[i].description%>
                     </p>
              </div>
               </div>
            <div class="col-5" style="margin:2%;padding: 2%; background-color: greenyellow;"> </div>

           </div>
        </section>    
        <%}%> 
    </main>  
    <br><br>
 <div class="container">
    <form action="/secrets" method="POST">
        <button class="btn btn-lg btn-success btn-block" style="border-radius: 100%; width:auto; height: auto;margin-left: 47%;">+</button> <br>
        <input type="text" name="n" class="form-control" placeholder="Enter The Project Titile" required>
        <br>
         <textarea name="dis" cols="50" rows="5" class="form-control" placeholder="Project Description " required></textarea>
        <br>
    </form></div>

    <div class=" text-center module">
        <!-- <div class="card-header">
          Featured
        </div> -->
        <div class="card-body">
          <a href="#" class="btn btn-light">Connect with Us</a>
          <br>
          <br>
          <div>
            <img src="images/icons8-facebook-48.png" class="icon">
            <img src="images/icons8-instagram-48.png" class="icon">
            <img src="images/icons8-play-button-48.png" class="icon">
            <img src="images/icons8-google-play-48.png" class="icon">
          </div>
        </div>
</body>
</html>